<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>key</key>
			<string>BackgroundPreset</string>
			<key>id</key>
			<string>BackgroundPreset</string>
			<key>label</key>
			<string>Preset</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>set</key>
			<string>setColourPreset:specifier:</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>20</integer>
				<integer>25</integer>
				<integer>50</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Black</string>
				<string>Dark Grey</string>
				<string>Light Grey</string>
				<string>Dark Blue</string>
				<string>Light Blue</string>
				<string>Green</string>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Pink</string>
				<string>Purple</string>
				<string>Teal</string>
				<string>Maroon</string>
				<string>Custom</string>
				<string>Wallpaper</string>
				<string>Image</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>MCBetterSliderCell</string>
			<key>default</key>
			<real>255.1</real>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>255</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>BackgroundRed</string>
			<key>id</key>
			<string>BackgroundRed</string>
			<key>label</key>
			<string>Red</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>set</key>
			<string>colourSliderAlteredTo:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>MCBetterSliderCell</string>
			<key>default</key>
			<real>255.1</real>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>255</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>BackgroundGreen</string>
			<key>id</key>
			<string>BackgroundGreen</string>
			<key>label</key>
			<string>Green</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>set</key>
			<string>colourSliderAlteredTo:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>MCBetterSliderCell</string>
			<key>default</key>
			<real>255.1</real>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>255</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>BackgroundBlue</string>
			<key>id</key>
			<string>BackgroundBlue</string>
			<key>label</key>
			<string>Blue</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>set</key>
			<string>colourSliderAlteredTo:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>key</key>
			<string>Blurred</string>
			<key>id</key>
			<string>Blurred</string>
			<key>label</key>
			<string>Blurred</string>
			<key>set</key>
			<string>setBlurred:specifier:</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>action</key>
			<string>pickImage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Choose Image</string>
			<key>id</key>
			<string>PickImage</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>cell</key>
			<string>PSTextViewCell</string>
			<key>key</key>
			<string>BackgroundImagePath</string>
			<key>isURL</key>
			<true/>
			<key>id</key>
			<string>ImagePath</string>
			<key>height</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextViewCell</string>
			<key>id</key>
			<string>ImageBG</string>
			<key>height</key>
			<integer>310</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>blurRadGroup</string>
			<key>label</key>
			<string>Blur Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>20</integer>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>65</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>BlurRadius</string>
			<key>id</key>
			<string>BlurRadius</string>
			<key>label</key>
			<string>Blur Radius</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>set</key>
			<string>blurRadiusAltered:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>overlayColGroup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>key</key>
			<string>BGOverlay</string>
			<key>id</key>
			<string>BGOverlay</string>
			<key>label</key>
			<string>Overlay Colour</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>set</key>
			<string>setBGOverlayTo:specifier:</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Clear</string>
				<string>White</string>
				<string>Black</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Background</string>
</dict>
</plist>
