<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Info Text Colour</string>
			<key>footerText</key>
			<string>This is the text in the background such as timestamps and read receipts.</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>key</key>
			<string>InfoTextColour</string>
			<key>id</key>
			<string>InfoTextColour</string>
			<key>label</key>
			<string>Preset</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>set</key>
			<string>setColourPreset:specifier:</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>20</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Black</string>
				<string>Dark Grey</string>
				<string>Light Grey</string>
				<string>Dark Blue</string>
				<string>Light Blue</string>
				<string>Green</string>
				<string>Red</string>
				<string>Orange</string>
				<string>Yellow</string>
				<string>Pink</string>
				<string>Purple</string>
				<string>Teal</string>
				<string>Maroon</string>
				<string>Custom</string>
			</array>
		</dict>
		<dict>
      	    <key>cell</key>
          	<string>PSSliderCell</string>
          	<key>cellClass</key>
          	<string>MCBetterSliderCell</string>
          	<key>default</key>
          	<integer>100</integer>
          	<key>defaults</key>
          	<string>me.chewitt.MCPrefs</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>255</integer>
			<key>showValue</key>
			<true/>
      	 	<key>key</key>
			<string>InfoTextRed</string>
			<key>id</key>
			<string>InfoTextRed</string>
      	 	<key>label</key>
    		<string>Red</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>set</key>
			<string>colourSliderAlteredTo:specifier:</string>
    		</dict>
		<dict>
      	  	<key>cell</key>
          	<string>PSSliderCell</string>
          	<key>cellClass</key>
          	<string>MCBetterSliderCell</string>
          	<key>default</key>
          	<integer>100</integer>
          	<key>defaults</key>
          	<string>me.chewitt.MCPrefs</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>255</integer>
			<key>showValue</key>
			<true/>	
      	 	<key>key</key>
			<string>InfoTextGreen</string>
			<key>id</key>
			<string>InfoTextGreen</string>
      	 	<key>label</key>
    		<string>Green</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>set</key>
			<string>colourSliderAlteredTo:specifier:</string>
    		</dict>
		<dict>
      	    <key>cell</key>
          	<string>PSSliderCell</string>
          	<key>cellClass</key>
          	<string>MCBetterSliderCell</string>
          	<key>default</key>
          	<integer>100</integer>
          	<key>defaults</key>
          	<string>me.chewitt.MCPrefs</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>255</integer>
			<key>showValue</key>
			<true/>	
      	 	<key>key</key>
			<string>InfoTextBlue</string>
			<key>id</key>
			<string>InfoTextBlue</string>
      	 	<key>label</key>
    		<string>Blue</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
			<key>set</key>
			<string>colourSliderAlteredTo:specifier:</string>
    	</dict>
	</array>
	<key>title</key>
	<string>Info Text</string>
</dict>
</plist>
