<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Chat View Settings</string>
			<key>detail</key>
			<string>ChatViewController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Convo List Settings</string>
			<key>detail</key>
			<string>ConvoViewController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>key</key>
			<string>BlackKeyboard</string>
			<key>label</key>
			<string>Black Keyboard</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>key</key>
			<string>BlackBars</string>
			<key>label</key>
			<string>Black Nav Bars</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.MCPrefs</string>
			<key>key</key>
			<string>DarkMode</string>
			<key>label</key>
			<string>Dark Mode</string>
			<key>PostNotification</key>
			<string>me.chewitt.MCPrefs.settingschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>Other Settings</string>
</dict>
</plist>
